/* General codes */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

*::before,
*::after {
   box-sizing: inherit;
}

html {
   height: 100%;
   box-sizing: border-box;
}

body {
   display: flex;
   flex-direction: column;
   height: 100%;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   font-family: "Open Sans", "Arial", sans-serif;
   background-color: var(--main-body-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Russo One", "Arial", sans-serif;
}

a {
   text-decoration: none;
}

/* Sticky-footer */
.site-main {
   flex-grow: 1;
}