@mixin mobile-first($min) {
   @media only screen and (min-width: $min) {
      @content;
   }
}

@mixin desctop-first($max) {
   @media only screen and (max-width: $max) {
      @content;
   }
}

@mixin mixin-before($position, $top, $left) {
   position: $position;
   top: $top;
   left: $left;
   content: "";
}