/* Section hero */
.hero {
   padding-bottom: 58px;
   background-image: url("../../images/hero-bg.png");
   background-repeat: no-repeat;
   background-position: calc(50% + 367px) calc(50% + 14px);
}

.hero-wrapper {
   max-width: 512px;
   width: 100%;
   margin: 0 auto;
}

.hero__weather-list {
   max-width: 528px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto 15px auto;
   padding-left: 0;
   list-style-type: none;

   & li:nth-child(1) {
      margin-right: 34px;
   }
}

.hero__images-wrapper {
   display: flex;
   align-items: center;
   margin-bottom: 7px;
}

.hero__weather-img {
   margin-right: 8px;
}

.hero__weather-desc {
   font-weight: 300;
   line-height: 22px;
   color: var(--main-gray-color);
}

.hero__heading {
   font-size: 64px;
   line-height: 63px;
   margin-top: 0;
   margin-bottom: 14px;
   text-align: center;
   color: var(--main-blue-color);
}

.hero__desc {
   font-family: "Russo One";
   position: relative;
   max-width: 310px;
   width: 100%;
   font-size: 24px;
   line-height: 29px;
   margin-bottom: 40px;
   text-align: center;
   color: var(--main-blue-color);
}

.hero__order-link {
   font-family: "Russo One";
   display: block;
   max-width: 395px;
   width: 100%;
   margin: 0 auto 35px auto;
   padding: 15px 20px 18px 20px;
   font-size: 22px;
   line-height: 27px;
   text-align: center;
   color: var(--main-gray-color);
   border: 4px solid #2295ff;
   background-color: var(--main-blue-color);
   background-image: url("../../images/hero-btn-bg.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
   border-radius: 11px;
}

.hero__order-desc {
   font-weight: 600;
   line-height: 22px;
   text-align: center;
   color: var(--main-gray-color);
}

@include mobile-first (768px) {
   .hero {
      background-position: calc(50% + 407px);
   }

   .hero-wrapper {
      margin: 0;
   }

   .hero__weather-list {
      margin-bottom: 12px;
      justify-content: start;
   }

   .hero__heading {
      text-align: left;
   }

   .hero__desc {
      font-weight: 400;
      text-align: left;
      color: var(--main-gray-color);

      &::after {
         @include mixin-before (absolute, 0, 300px);
         display: block;
         width: 107px;
         height: 114px;
         background-image: url("../../images/hero-arrow-down.svg");
         background-repeat: no-repeat;
         background-size: contain;
      }
   }

   .hero__order-link {
      margin: 0;
      margin-bottom: 13px;
   }

   .hero__order-desc {
      text-align: left;
   }
}